*{
    margin: 0 ;
    padding: 0;
}

html{
    font-size: 20px;
}

body{
    height: 30vh;
}

.abs{
    background-color: chocolate;
    /* width: 500px; */
    width: 15cm;
}

.div2{
    background-color: blueviolet;
    width: 50%;
    height: 100%;
}
.div3{
    background-color: chocolate;
    width: 50%;
    /* height: 50%; */
    height: 40%;
    padding: 10px;
}

.div4{
    background-color: gold;
    width: 50vw;
}

.div5{
    font-size: 25px;
}

.div6{
    font-size: 2em;
}

.div7{
    font-size: 3em;
}

.div8{
    font-size: 25px;
}

.div9{
    font-size: 2rem;
}

.div10{
    font-size: 4rem;
}
