.container{
    display: grid;
    grid-template-columns: repeat(7,10rem);
    grid-template-rows: repeat(6, 100px);
    justify-content: center;
}

.content{
    border: 1px solid;

}

.content1{
    background-color: gainsboro;
    grid-area: 2/1/4/2;
}
.content2{
    background-color:gray;
    grid-area: 1/2/3/4;
    background-image: url("https://picsum.photos/id/179/600/400");
    background-position: center;
    background-size: cover;
}

.content3{
    background-color: crimson;
    grid-column: 4/ span 2;
    grid-row: 1 / span 2;
    background-image: url("https://picsum.photos/id/174/600/400");
    background-position: center;
    background-size: cover;
    
}

.content4{
    background-color: rgba(255, 166, 0, 0.693);
    grid-area: 2/3/3/4 ;
}

.content5{
    background-color: rgba(139, 0, 139, 0.661);
    grid-area: 2/5/3/6;
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
}