*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(12,1fr) ;
    grid-template-rows: 250px 1fr 4fr 1fr;
}

header{
    background-color: seagreen;
    grid-column: span 12;
}

header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav{
    background-color: coral ;
    grid-column: span 12;
    background-image: url("https://picsum.photos/id/30/600/400");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: purple;
    text-shadow: 5px 5px 10px white;
}
aside{
    background-color: cornflowerblue;
    grid-column: span 3;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;

}
main{
    background-color: darkorange;
    grid-column: span 9;
    display: grid;
    place-items: center;
}
footer{
    background-color: crimson;
    grid-column: span 12;
    display: flex;
}

.harvey{
    background-color: blue;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: yellow;
}

.felix{
background-color: yellow;
flex: 1;
display: flex;
justify-content: center;
align-items: center;
font-size: 3rem;
color: blue;
}