*{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 200px 400px 200px 200px;
    grid-template-rows: 200px 200px;
    justify-content: center;
}

.content{
    background-color: skyblue;
    border: 1px solid black;
}

.content1 img{
    height: 100%;
}

.content1{
background-color: olive;
}
.content2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content6{
    background-image: url("https://picsum.photos/id/598/600/400");
    background-position: center;
    background-size: cover;
    color: yellow;
    padding: 10px;
}

.content8{
    background-image: url("../img/owl.png");
    background-position: center;
    background-size: cover;
}