*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: orange;
    margin: 30px;
    border: 1px solid black;

    
}

.box1{
    background-color: magenta;
    width: 150px ;
    height: 150px;
    border: 2px solid black; 
    margin: 50px;
    

}

.box2{
    background-color: yellow;
    width: 150px ;
    height: 150px;
    border: 2px solid black; 
    padding: 20px;
    

}

.box3{
    background-color: rgba(0, 0, 255, 0.674);
    width: 150px ;
    height: 150px;
    border: 2px solid black; 
    margin-top: -80px;

}
