div{
    text-align: center;
}

div i{
    font-size: 10rem;
    color: rgb(106, 62, 9);
}

.fa-bell{
    animation-name: shake;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.fa-dollar-sign{
    color: green;
    animation: snake 0.5s ease-in-out infinite alternate;
}

@keyframes shake {
    0%{
        transform: rotate(15deg);
        transform-origin: top;
    }
    100%{
        transform: rotate(-15deg);
        transform-origin: top;

    }
}

@keyframes snake {
    from{
        /* transform: skew(45deg); */
        transform: rotate(0deg);
    }
    to{
        /* transform: skew(-45deg); */
        transform: rotate(360deg);
        color: maroon;
    }
    
}