* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
  height: 100vh;
}

ul {
  background-color: rebeccapurple;
  list-style-type: none;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  /* height: 70%; */
  align-items: baseline;
  justify-content: center;
}

ul * {
  background-color: fuchsia;
}

ul li {
  padding: 1rem;
  border-radius: 10px;
  width: 200px;
}

/* ol{
    margin-top: 50px;
    list-style-type: none;
    background-color: olive;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
}

ol li{
    background-color: orange;
} */

.container {
  margin-top: 100px;
  background-color: purple;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.container * {
  background-color: darkorange;
  height: 50px;
  width: 200px;
}

.container header {
    flex-basis: 100%;
    
}

.container aside {
    /* flex-basis: 33% ; */
    /* flex-grow: 2; */

}

.container main {
    /* flex-basis: 30% ; */
    /* flex-grow: 5; */
    flex-grow: 1;
}

.container article {
    /* flex-grow: 2; */
    
}


.container footer {
    flex-basis: 100%;
}


.shrink{
    margin-top: 50px;
    background-color: indigo;
    display: flex;
}

.shrink *{
    width: 200px;
    height: 100px;
}

.box1{
    background-color: orange;
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    /* flex: 1 1 auto; */
    /* flex: 1; */
    flex-shrink: 0;
}

.box2{
    background-color: crimson;
    /* flex-grow: 1; */
    /* flex-shrink: 5; */
    /* flex: 1 1 auto; */
    flex: 5;



}

.box3{
    background-color: greenyellow;
    /* flex-grow: 1; */
    /* flex: 1 1 auto; */
    flex: 1;
}


.container1 {
    margin-top: 100px;
    background-color: purple;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  
  }
  
  .container1 * {
    background-color: yellow;
    height: 50px;
    width: 200px;
  }
  
  .container1 header {
   width: 100%;   
   background-image: url("https://picsum.photos/id/237/600/400");
   background-size: contain;
  }
  
  .container1 aside {
    width: calc((33.333%) - (2rem/3))
    /* width: 33.333%; */
    /* width: 31.95%; */
  }
  
  .container1 main {
    width: calc((33.333%) - (2rem/3))
    /* width: 33.333%; */
    /* width: 31.95%; */
  }
  
  .container1 article {
    width: calc((33.333%) - (2rem/3))
    /* width: 33.333%; */
    /* width: 31.95%; */
  }
  
  .container1 footer {
    width: 100%;
    overflow: auto;
  }