

.box{
    border: 5px solid olive;
    margin-bottom: 4rem;
    width: 20rem;
    height: 4rem;
    background-color: bisque;
    
}

.box1{
    overflow: visible;
}

.box2{
    overflow: hidden;
}

.box3{
    overflow: scroll;
}

.box4{
 overflow: auto;
 text-align: justify;
}

.box5{
    overflow: auto;
}

.paragraf{
    background-color: brown;
    width: 50rem;
}


/* scrollbarı gizlemek için yaptık */
.box5::-webkit-scrollbar{
    /* width: 0; */
    /* visibility: hidden; */
    display: none;
}
