*{
    
    /* margin: 0px;
    padding: 0px; */
    /* border: 1px solid red; */
}

body{
    /* background-color: orange; */
    /* border: 1px solid red; */
}

h1{
    color: red;
    text-align: center;
}

h1:hover{
    opacity: 0.5;
    cursor: pointer;
}

#list{
    /* border: 1px solid red; */
}

li{
    list-style-type: none;
    color: magenta;
}

li:hover{
    font-weight: 900;
}