
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    /* margin: 8px; */
}

h1{
    background-color: crimson;
    margin-top: 100px;
    /* border:10px solid yellow; */

}

#par1{
    background-color: olive;
    /* margin: 10px 50px 100px; */
    /* margin: 50px 10px 25px 90px; */
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 5px solid red;
    padding: 20px;
    overflow: auto;
    margin-top: 100px;

}

#par2{
    background-color: magenta;
    margin-bottom: 200px;
}

#link{
    background-color: blue;
    display: block;
    width: 30%;
    margin: auto;
    text-align: center;
    color: white;
    text-decoration: none;
}

.container{
    background-color: orange;
    /* border: 1px solid red; */
    padding: 2px;
    
    
}