

h1{
    text-align: center;
    color: blue;
}


#par1{
    color: blue;
    text-align: center;
    text-shadow: 2px 2px 2px red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    column-count: 3;
    column-rule: 3px double blue;
    -webkit-column-count: 3;
    -moz-column-count: 3px double blue;
    font-size: 1rem;
}

#par2{
    color: red;
    text-align: right;
    text-transform: uppercase;
    direction: rtl;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 10px;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    text-indent: 1rem;

}

#par3{
    color: rgb(120, 45, 97);
    text-align: justify;
    text-decoration: underline;

}

#par4{
    color: #081682;
    text-decoration: line-through  wavy;
}

#par5{
    color: fuchsia;
    text-decoration: overline line-through wavy;

}

#par6{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    text-indent: 1rem;
    letter-spacing: 3px;
    line-height: 1.5;
    direction: rtl;
    unicode-bidi: bidi-override;
}