.outher{
    background-color: brown;
    width: 500px;
    height: 500px;
}

.inner{
    background-color: gray;
    width: 50%;
    height: 50%;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

    /* animation-name: travel;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-fill-mode: both; */
    animation: travel 1s ease-in-out infinite alternate;
}



@keyframes travel {
    0%{
        transform: translateX(0);
        background-color: orange;
    }
    25%{
        transform: translateY(100%);
        border-radius: 50%;
    }
    50%{
        transform: translate(100%, 100%);
    }
    100%{
        transform: translateX(100%);
    }
   
}